
header{
    
 
 position: fixed   ; 
    top: 0px; 
 width: 100%; 
 margin-bottom: 50px;
 
}

.whatsApp {
    position: fixed;
    bottom: 0px; 
    width: 40px;
    right: 0%;
}

    

.backGround1 {background-color:rgb(245, 216, 232); }

.fontS { color: rgb(22, 46, 122); }


@media screen and (max-width: 600px ) {
    .nav-link {
        font-size: 20px !important;
    }
   a .navImg { 
        width: 25px !important; 
        height: 25px !important;
        
    }
    
}


@media screen and (max-width: 600px){
    .align-items-center {
        width: 300px !important;
        height: 300px !important;
    }
}

@media screen and (max-width: 600px){
    .repim1 {
        width: 200px !important;
        height: 200px !important;
    }
}
    
